.input-angular {
  background-color: rgba(205, 208, 214, 0.56);
  color: #3e3c3c;
}
.input-angular.ng-invalid.ng-dirty {
  border: 2px red solid;
  border-radius: 2px;
}

.pswangular.ng-invalid.ng-dirty {
  border: 2px red solid;
  border-radius: 2px;
}

.pswangular.ng-valid.ng-dirty {
  border: 2px green solid;
  border-radius: 2px;
}
