<p>
  detail works!
</p>


<button (click)="navigateToHome()">Home</button>

<nav class="nav">
<span class="nav__menu">
<a class="nav__item_unselected"
   href=""
   [routerLink]="['/detail',idDetail,'connaissances']"
   routerLinkActive="nav__item_selected"
   [routerLinkActiveOptions]="{exact:true}">Connaissance</a>
</span>
  <span class="nav__menu">
<a class="nav__item_unselected"
   href=""
   [routerLink]="['/detail', idDetail,'formations']"
   routerLinkActive="nav__item_selected"
   [routerLinkActiveOptions]="{exact:true}">Formation</a>
</span>
</nav>

<router-outlet></router-outlet>
